* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #f8f9fa;
}

.App-header {
  background: url('atlanta.jpg') no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav > a {
  padding-right: 10px;
}

.jumbotron {
  margin: 0;
}

a {
  color: #06AED5;
}

a:hover {
  text-decoration: none;
  color: #058CAA;
}

.btn-primary {
  background-color: #06AED5;
  border-color: #06AED5;
}

.btn-primary:hover {
  background-color: #058CAA;
  border-color: #058CAA;
}

.btn-secondary {
  background-color: #FFCE56;
  border-color: #FFCE56;
}

.btn-success {
  background-color: #41D3BD;
  border-color: #41D3BD;
}

.btn-success:hover, .btn-success::after {
  background-color: #38B5A2;
  border-color: #38B5A2;
}

.search {
  width: 100%!important;
}

.general {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('business.jpg') no-repeat center center;
  background-size: cover;
  position: relative
}

div.text-center {
  color: #fff;
}

.text-muted {
  color: #fff!important;
}

.portfolio {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('hustle.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.details {
  width: 100%;
  padding-bottom: 10px;
}

.full {
  height: 100vh;
}

.about {
  text-align: left;
}
